Hello!
<br />
<div id="starttcquizform">
    <div> {{#str}} startnewquiz, quizaccess_tcquiz {{/str}} </div>
    <p> {{#str}}  waitfirst, quizaccess_tcquiz {{/str}} </p>
    {{#str}} confirmclose, mod_quiz {{/str}}
    <button data-action="quizaccess_tcquiz/helloworld-update_button">Click me</button>
    <button data-action="quizaccess_tcquiz/helloworld-big_red_button">Do not click me</button>
</div>

{{#js}}
require(['quizaccess_tcquiz/helloworld'], (module) => module.init('{{first}}', '{{last}}'));
{{/js}}
